@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}

.container{
    max-width: 1440px;
    margin: 0 0 0 0px;
}
.header{
    margin-top: 90px;
    text-align: center;
}
.header h1{
    margin: 0 0 15px 0;
    color: hsl(234, 12%, 34%);
    font-size: 2.2rem;
    font-weight: 200;
}
.header h2{
    margin: 0 0 15px 0;
    color: hsl(234, 12%, 34%);
    font-size: 2.2rem;
    font-weight: 600;
}
.header p{
    margin: 0;
    color: hsl(229, 6%, 66%);
    line-height: 1.7;
}

.wrap{
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}

.wrap .box{
    max-width: 350px;
    height: 250px;
    margin-top: 30px;
    margin: 20px;
    padding: 0 26px;
    border-radius: 5px;
    color: hsl(234, 12%, 34%);
    font-size: 1.33rem;
    box-shadow: 0 8px 18px 3px rgba(0,0,0,0.13);
}

.wrap .box-cyan{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.wrap .box-red{
    border-top: 5px solid hsl(0, 78%, 62%);
}

.wrap .box-orange{
    border-top: 5px solid hsl(34, 97%, 64%);
}

.wrap .box-blue{
    border-top: 5px solid hsl(212, 86%, 64%);
}

.wrap h4{
    margin-bottom: 10px;
}
.wrap p{
    margin: 0;
    float: left;
    color: hsl(229, 6%, 66%);
    font-size: 0.86rem;
    line-height: 22px;
}
.wrap img{
    margin-top: 60px;
    float: right;
}
footer{
    text-align: center;
}
@media(max-width: 1100px){
    .header{
        padding-right: 20px;
        padding-left: 20px;
    }
    .wrap{
        flex-direction: column;
    }
}